* {
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* SECCIÓN 1 */

.seccion-1 {
  width: 100%;
  height: 25rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.navbar {
  width: 100%;
  background-color: #2b4059;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.logo,
.social {
  width: 100%;
  height: 100%;
  background-color: #ea5354;
  display: flex;
  align-items: center;
}

.nav {
  width: 150rem;
  height: 100%;
  background-color: #ea5354;
  display: flex;
  align-items: center;
}

.txt-nav-item {
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
}

.banner-cont {
  width: 100%;
  height: 10rem;
  background-color: #fe8b00;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.banner {
  width: 100%;
  height: 100%;
  background-color: #fdd500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

.txt-banner {
  color: black;
  font-size: 2rem;
}

/* SECCIÓN 2 */

.seccion-2 {
  width: 100%;
  height: 26rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.articulos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: #4e4e6a;
  padding: 2rem;
}

.articulo {
  width: 100%;
  height: 100%;
  background-color: #1f6cb0;
}

.navegacion {
  width: 100%;
  height: 100%;
  background-color: #71a3c4;
  grid-column: 1 / span 2;
}

.txt-articulos {
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
}

.publicidad-cont {
  width: 100%;
  height: 100%;
  background-color: #ea5354;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}

.publicidad {
  width: 100%;
  height: 100%;
  background-color: #fdd500;
}

.txt-publicidad {
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
}

/* SECCIÓN 3 */

.seccion-3 {
  width: 100%;
  height: 9rem;
  background-color: black;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #efe78b;
}

.txt-footer {
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
}

/* MEDIA QUERY - EJERCICIO 2 */

@media only screen and (max-width: 1024px) {
  body {
    width: 1000px;
  }

  .seccion-1 {
    height: 40rem;
  }

  .navbar {
    height: 24rem;
    flex-direction: column;
  }

  .nav {
    width: 100%;
  }

  .seccion-2 {
    height: 51rem;
    flex-direction: column;
  }

  .publicidad-cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 760px;
  }

  .seccion-1 {
    height: 40rem;
  }

  .navbar {
    height: 24rem;
    flex-direction: column;
  }

  .logo,
  .nav,
  .social {
    width: 100%;
    height: 100%;
  }

  .seccion-2 {
    height: 51rem;
    flex-direction: column;
  }

  .articulos {
    width: 44rem;
  }

  .publicidad-cont {
    width: 44rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
